@charset "utf-8";

:root {
    --font-title: clamp(2rem, 3vw, 2.6rem);
    --font-lg: clamp(1.3rem, 2.2vw, 1.8rem);
    --font-md: clamp(1rem, 2vw, 1.2rem);
    --color-primary: #6441ac;
    --color-hover: #b18eed;
}